<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Regression Suite">
    <test name="Regression Tests" parallel="none" verbose="0">
        <classes>
            <class name="com.example.testcase.demoqa.FormsTests"/>
<!--            <class name="com.example.testcase.demoqa.LoginPageTests"/>-->
        </classes>
    </test>
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg" />
    </listeners>
</suite>