<suite name="Login Suite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg" />
    </listeners>
    <test name="TestAutomationFramework">
        <classes>
            <class name="com.example.testcase.demoqa.LoginPageTests"/>
        </classes>
    </test>
</suite>