<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Login Suite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg" />
    </listeners>
    <test name="TestAutomationFramework" parallel="false" verbose="2">
        <classes>
            <class name="com.example.testcase.demoqa.LoginPageTests"/>
        </classes>
    </test>
</suite>